@import url('https://fonts.googleapis.com/css?family=Michroma&display=swap');


body {
    font-family: Michroma, serif;
    background: linear-gradient(90deg, #00009c 0%, #000000 100%);
}

p {
    color: aquamarine;
}

.nav-link {
    color:aquamarine
}

.navbar-nav .nav-link.active {
    color:rgb(143, 142, 142)

}

.navbar-brand img {
    width: 40px;
}

.navbar-toggler {
    background-color: rgb(143, 142, 142);
}

.sidebar {
    color: aquamarine;
    background: linear-gradient(90deg, #00009c 0%, #000000 100%);


}

.card {
    background: linear-gradient(270deg, #00009c 0%, #000000 100%);
    color: aquamarine;
}

.card a {
    text-decoration: none;
    color: aquamarine;
}

.slide-text,
.footer-text {
    color: aquamarine;
    margin: auto auto;
}

footer,
.btn-outline-primary
 {
    background: linear-gradient(270deg, #00009c 0%, #000000 100%);

}
.media-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-anim {
    animation: call 2s ease 0s infinite normal forwards;
}

@keyframes call {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}


@media (max-width: 755px) {
    .carousel-indicators {
        display: none;
    }
}

.btn.btn-secondary.dropdown-toggle {
    background-color: rgb(44, 44, 44);
}

.post-title.entry-title.left
{   color: aquamarine;
    margin-left: 15px;
}

.hint {
    color: aquamarine;
}

.city-info-block.row {
    background-color: rgb(26, 26, 26);
    margin-left: 15px;
    margin-right: 15px;
}

.weather_table td,
.weather_table th {
    text-align: center;
    border-right: 1px solid #fff;
    font-weight: 400;
}

.weather-block {
    color: aquamarine;
    margin-left: 130px;
}

.weather-info.responsive {
    background-color: rgb(26, 25, 25);
    color: aquamarine;
    margin-left: 60px;
    width: 400px;
    height: 200px ;
}

.month.winter {
    background-color: blue;
}

.month.spring {
    background-color: rgb(179, 179, 4);
}

.month.summer {
    background-color: rgb(73, 145, 2);
}

.month.autumn {
    background-color: chocolate;
}


.table.thead.tr.th,table.tfoot.tr.th,table.tfoot.tr.td,table.tbody.tr.th,table.tbody.tr.td,table.tr.td {
    display: table-cell;
    line-height: 1.125rem;
}

.td {
    margin: 0;
    padding: 0;
    vertical-align: inherit;
}

.table {
border-collapse: separate;
text-indent: initial;
}

.row.city_thumbs {
    margin-top: 20px;
}

.attachment-thumbnail.wp-post-image {
    margin-left: 35px;
}

@media screen and (min-width: 0px) and (max-width: 620px)
{
    .for-travels {
        padding: 0 15px 20px;
        text-align: left;
    }
}

@media screen and (min-width: 0px) and (max-width: 1024px)
{
    .for-travels {
        padding: 0;
    }
}

.for-travels {
    max-width: 1280px;
    margin: 0 auto 20px;
    padding: 0 20px;
    text-align: center;
    color: aquamarine;
}

@media screen and (min-width: 0px) and (max-width: 620px)
{
    .sm {
        display: block;
        font-size: 22px;
        font-weight: 400;
        line-height: 1.4;
    }
}

@media screen and (min-width: 0px) and (max-width: 620px)
{
    .for-travels .scroll-mob-in, .for-travels .scroll-mob-block {
        white-space: unset;
        overflow: unset;
        overflow-y: unset;
        overflow-x: unset;
        -webkit-overflow-scrolling: unset;
    }
}

@media screen and (min-width: 0px) and (max-width: 1024px)
{
    .scroll-mob-block {
        overflow: hidden;
    }
}

@media screen and (min-width: 0px) and (max-width: 1024px)
{
    .scroll-mob-in {
        cursor: grab;
        padding-bottom: 20px;
        margin-bottom: -20px;
        -webkit-overflow-scrolling: touch;
        display: block;
        white-space: nowrap;
        overflow: hidden;
        overflow-y: hidden;
        overflow-x: scroll;
    }
}

@media screen and (min-width: 0px) and (max-width: 620px)
{
    .pb-avia {
        background-size: 35px;
        background-position: 0 0;
    }
}

@media screen and (min-width: 0px) and (max-width: 620px)
{
    .partners-block {
        width: 100%;
        margin: 20px 0 0 0;
        box-shadow: none;
        border-top: 0;
        padding: 0 0 0 50px;
        min-height: 0;
    }
}

@media screen and (min-width: 0px) and (max-width: 1024px)
{
    .pb-avia {
        background-size: 42px;
        background-position: 14px 17px;
    }
}

@media screen and (min-width: 0px) and (max-width: 1024px)
{
    .partners-block {
        margin: 0 0 20px 20px;
        padding: 70px 10px 5px 15px;
        min-height: 153px;
        width: 250px;
    }
}

@media screen and (min-width: 0px) and (max-width: 1120px)
{
    .partners-block {
        width: 32%;
    }
}
.pb-avia {
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: 18px 22px;
}

@media screen and (min-width: 0px) and (max-width: 620px)
{
    .pb-tours {
        background-size: 31px;
        background-position: 0 0;
    }
}

@media screen and (min-width: 0px) and (max-width: 1024px)
{
    .pb-tours {
        background-size: 38px;
        background-position: 18px 19px;
    }
}

.pb-tours {
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: 18px 22px;
}

@media screen and (min-width: 0px) and (max-width: 1024px)
{
    .pb-z {
        font-size: 17px;
    }
}

.pb-z {
    font-size: 18px;
    display: block;
    line-height: 1.4;
}


.pb-t {
    font-size: 14px;
    display: block;
    line-height: 1.4;
    margin: 6px 0;
}


.partners-block {
    border-top: 1px solid #f9f9f9;
    display: inline-block;
    position: relative;
    width: 24%;
    margin: 0 1% 25px 0;
    border-radius: 15px;
    vertical-align: top;
    box-shadow: rgb(0 0 0 / 8%) 0px 5px 15px;
    min-height: 188px;
    text-align: left;
    padding: 90px 10px 20px 20px;
    white-space: initial;
}
a {
    color: #0c73fe;
}
a {
    text-decoration: none;
    border: none;
    outline: none;
}

@media screen and (min-width: 0px) and (max-width: 620px)
{
    .pb-hotel {
        background-size: 31px;
        background-position: 0 0;
    }
}

@media screen and (min-width: 0px) and (max-width: 1024px)
{
    .pb-hotel {
        background-size: 37px;
        background-position: 16px 18px;
    }
}

.pb-hotel {
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: 18px 22px;
}

@media screen and (min-width: 0px) and (max-width: 620px)
{
    .pb-exc {
        background-size: 30px;
        background-position: 0 0;
    }
}

@media screen and (min-width: 0px) and (max-width: 1024px)
{
    .pb-exc {
        background-size: 36px;
        background-position: 14px 19px;
    }
}

.pb-exc {
    background-size: 45px;
    background-repeat: no-repeat;
    background-position: 22px 27px;
}

.text-city {
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 20px;
    color: aquamarine;
}

.h3-list h1 {
    color: aquamarine;
    display: block;
    font-weight: 400;
    margin-left: 20px;
}

.h3-list>li>a {
    color: aquamarine;
    padding:9px 15px;
    display: table;
    height: 38px;
    line-height: 1.4;
}

.a {
    text-decoration: none;
    border: none;
    outline: none;
}

.h3-info {
    color: aquamarine;
    margin-left: 30px;
}


.info-city {
    color: aquamarine;
    margin-left: 20px;
    margin-right: 50px;
    margin-top: 20px;
}

.image-city {
    height: 400px;
}

@media only screen and (max-width: 1024px) {
.page {
    position: relative;
    width: 100%
}
}

.page {
    flex: 1 0 auto;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
}

.main {
    display: block;
}

.post-wrap {
    --width-content: 805px;
    padding: 36px 0 60px;
}
@media only screen and (max-width: 1024px) {
    .wrap {
        box-sizing: border-box;
        width: 100%;
        min-width: 100%;
        padding:0 20px;
    }
}

.wrap {
    min-width: 950px;
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 20px;
}

@media (max-width: 1023px) {
    .post__head {
        font-size: 36px;
        line-height: 44px;
    }
}

.post__head {
    margin: 0 0 32px;
    font-size: 40px;
    line-height: 56px;
}

.post-wrap img {
    border-radius: 2px;
}

.post__cover {
    display: block;
    width: 100%;
    margin: 32px 0 0;
}

.post__intro {
    flex-direction: column;
    gap: 0;
     row-gap: 0px;
     column-gap: 0px;
}

.post__intro {
    display: flex;
    gap: 10px;
     row-gap: 10px;
     column-gap: 10px;
     justify-content: space-between;
}

.post__intro-text {
    max-width: var(--width-content);
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0;
    text-align: left;
}

.post__contents {
    position: inherit;
    width: fit-content;
    max-width: unset;
    height: 100%;
    margin-top: 24px;
    text-decoration: none;
}

.post__contents {
    display: grid;
    grid-auto-rows: min-content;
    max-width: 287px;
    color: var(--alias-color-text-accent-blue);
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
}

.post-description {
    color: aquamarine;
    margin-left: 20px;
}

.post-description a {
    text-decoration: none;
}

@media (max-width: 1023px) {
    .post-gallery {
        margin-top: 16px;
    }
}

.post-gallery {
    max-width: var(--width-content);
    margin-top: 14px;
}

.gallery {
    display: grid;
    grid-auto-flow: column;
    gap: 8px;
}

.gallery-img {
    display: block;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    height: 90%;
    cursor: pointer;
}

.post-wrap {
    --width-content: 805px;
    padding: 36px 0 60px;
}



.post-wrap h4 {
    max-width: var(--width-content);
    margin: 16px 0;
    font-size: 17px;
    line-height: 24px;
}

h4 {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

@media (max-width: 1023px) {
    .post-wrap h2 {
        font-size: 24px;
        line-height: 32px;
    }
}

.post-wrap h2 {
    max-width: var(--width-content);
    margin: 48px 0 0;
    font-weight: 900;
    font-size: 32px;
    line-height: 40px;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-left: 20px;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 40px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}


.post__img {
    max-width: var(--width-content);
    margin: 16px 0 32px;
}

.post-wrap ul, .post-wrap ol {
    box-sizing: border-box;
    max-width: var(--width-content);
    padding-left: 40px;
    list-style-type: disc;
    font-size: 17px;
    line-height: 24px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

::marker {
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;
}

li {
    text-align: -webkit-match-parent;
}

.gallery.collage {
    grid-template: repeat(2,1fr)/repeat(3,1fr);
}

.gallery.collage .gallery-img:nth-child(2) {
    grid-area: 2/3/1/2;
}

.gallery.collage>img {
    width: 80%;
    height: 80%;
}

@media (max-width: 1023px) {
    .post__collage-text {
        margin: 8px 0 0;
    }
}

.post__collage-text {
    max-width: var(--width-content);
    margin: 12px 0 0;
    font-size: 14px;
    line-height: 20px;
}

.figure {
    display: block;
}

@media (max-width: 767px) {
    .post__img figcaption {
        margin: 8px 0 0;
    }
}


.post__img figcaption {
    margin: 12px 0 0;
    font-size: 14px;
    line-height: 20px;
}

figcaption {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: normal;
}

.gallery-collage {
    height: 50%;
    width: 50%;
    display: grid;
}

.post__collage-text2 {
    margin-top: -2%;
}

.spas-img {
    margin-bottom: 20px;
}

.post__collage-text {
    margin-bottom: 20px;
}
